{{#with header}}
<div class="o-header__drawer--services o-header__drawer o--if-js" id="o-header-drawer" data-o-header-drawer="" data-o-header-drawer--no-js="">
	<div class="o-header__drawer-inner">
		<div class="o-header__drawer-tools">
			<span>{{serviceName}}</span>
			<button type="button" class="o-header__drawer-tools-close" aria-controls="o-header-drawer">
				<span class="o-header__visually-hidden">Close</span>
			</button>
		</div>
		{{#if primaryNav}}
		<nav class="o-header__drawer-menu o-header__drawer-menu--primary" role="navigation" aria-label="Primary navigation">
			<ul class="o-header__drawer-menu-list">
				{{#each primaryNav}}
				<li class="o-header__drawer-menu-item">
					<a class="o-header__drawer-menu-link" href="{{href}}">{{text}}</a>
				</li>
				{{/each}}
			</ul>
		</nav>
		{{/if}}
		{{#if relatedContent}}
		<nav class="o-header__drawer-menu o-header__drawer-menu--user" role="navigation" aria-label="User navigation">
			<ul class="o-header__drawer-menu-list">
				{{#each relatedContent}}
				<li class="o-header__drawer-menu-item">
					<a class="o-header__drawer-menu-link" href="{{href}}">{{text}}</a>
				</li>
				{{/each}}
			</ul>
		</nav>
		{{/if}}
	</div>
</div>
{{/with}}
