<!DOCTYPE html>
<html lang="en-GB">
	<head>
		<meta charset="utf-8">
		<title>{{#title}}{{{this}}}{{/title}}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		{{>favicon}}
		{{#if origami.css}}<link rel="stylesheet" href="//www.ft.com/__origami/service/build/v2/bundles/css?modules={{origami.css}}">{{/if}}
		<link rel="stylesheet" href="/{{__name}}/main.css">
		{{#outputBlock 'head'}}{{/outputBlock}}
	</head>
	<body>
		{{{body}}}
		{{#if origami.js}}<script src="//www.ft.com/__origami/service/build/v2/bundles/js?modules={{origami.js}}&amp;autoinit=1"></script>{{/if}}
		<script src="/{{__name}}/main.js"></script>
	</body>
</html>
