<!DOCTYPE html>
<html lang="en-GB">
	<head>
		<meta charset="utf-8">
		<title>{{#title}}{{{this}}}{{/title}}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<style>
			html, body {margin: 0; padding: 0;}
		</style>
		{{>favicon}}
		<link rel="stylesheet" href="//www.ft.com/__origami/service/build/v2/bundles/css?modules=o-header-services@^2.0.0{{#if origami.css}},{{origami.css}}{{/if}}">
		<link rel="stylesheet" href="/{{__name}}/main.css">
		{{#outputBlock 'head'}}{{/outputBlock}}
	</head>
	<body>
		{{>header}}
		<main class="o-grid-container">
			{{{body}}}
		</main>
		{{>drawer}}
		<script src="//www.ft.com/__origami/service/build/v2/bundles/js?modules=o-header-services@^2.0.0{{#if origami.js}},{{origami.js}}{{/if}}&amp;autoinit=1"></script>
		<script src="/{{__name}}/main.js"></script>
	</body>
</html>
